[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TopicScore"]
	path = TopicScore
	url = https://github.com/cran/TopicScore
	shallow = true
	registered = true
